<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/homepage.css">
</head>
<body>
<script src="/js/homepage.js"></script>
<header>
    <img src="/images/logo.png" alt="Logo" class="logo">
</header>
<main>
    <h1 id="typewriter-text"></h1>
    <div class="search-container">
        <select id="location-select" class="search-bar">
            <option value="" disabled selected>選擇地點</option>
            <option value="map1">雲林縣斗六雲科周邊</option>
            <option value="map2">台中市</option>
        </select>
        <button class="search-btn" onclick="performSearch()">搜尋</button>
    </div>
    <div id="search-results"></div>
    <p class="intro-text"></p>
</main>

<footer>
    <ul class="footer-menu">
        <li><a href="/user"><img src="/images/user.png" alt="User" class="footer-icon"></a></li>
        <li><a href="/homepage"><img src="/images/home.png" alt="Home" class="footer-icon"></a></li>
        <li><a href="/logout"><img src="/images/logout.svg" alt="Map" class="footer-icon"></a></li>
    </ul>
</footer>

</body>
</html>
