<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/homepage.css">
</head>
<script>
    function goToAdminLogin() {
        window.location.href = "/adminlogin";
    }
</script>
<body>
<header>
    <button onclick="goToAdminLogin()" class="admin-login-btn">Admin</button>
    <img src="/images/logo.png" alt="Logo" class="logo">
</header>
<main>
    <h1>User Page</h1>


</main>
<footer>
    <ul class="footer-menu">
        <li><a href="/user"><img src="/images/user.png" alt="User" class="footer-icon"></a></li>
        <li><a href="/homepage"><img src="/images/home.png" alt="Home" class="footer-icon"></a></li>
        <li><a href="/logout"><img src="/images/logout.svg" alt="Map" class="footer-icon"></a></li>
    </ul>
</footer>
</body>
</html>
