<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Registration and Login System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/homepage.css">
</head>
<style>
    body {
        background-color: #ffffff;
        margin: 0;
        font-family: Arial, sans-serif;
    }
    .back-button {
        position: absolute;
        top: 70px;
        left: 0px;
    }
</style>
<body>
<header>
    <img src="/images/logo.png" alt="Logo" class="logo">
    <a href="/admin" class="btn btn-secondary back-button">Back</a>
</header>
<br><br>
<div class="container">
    <div class="row">
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
        </tr>
        </tbody>
    </table>
</div>
<footer>
    <ul class="footer-menu">
        <li><a href="/user"><img src="/images/user.png" alt="User" class="footer-icon"></a></li>
        <li><a href="/homepage"><img src="/images/home.png" alt="Home" class="footer-icon"></a></li>
        <li><a href="/logout"><img src="/images/logout.svg" alt="Map" class="footer-icon"></a></li>
    </ul>
</footer>
</body>
</html>