<!DOCTYPE html>
<html lang="en">
<style>
    .text-area {

        color: white;
        padding: 10px;
        border-radius: 5px;
    }

</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/homepage.css">
</head>
<script>
    function goToAdminLogin() {
        window.location.href = "/adminlogin";
    }
</script>
<body>
<header>
    <button onclick="goToAdminLogin()" class="admin-login-btn">Admin</button>
    <img src="/images/logo.png" alt="Logo" class="logo">
</header>
<main>
    <h1>User Page</h1>

    <div class="text-area">
        <p>歡迎使用OSPS停車系統。綠色燈表示停車格可用，紅色燈表示停車格已被佔用，禁止符號表示停車格無法使用。</p>
    </div>


</main>
<footer>
    <ul class="footer-menu">
        <li><a href="/user"><img src="/images/user.png" alt="User" class="footer-icon"></a></li>
        <li><a href="/homepage"><img src="/images/home.png" alt="Home" class="footer-icon"></a></li>
        <li><a href="/logout"><img src="/images/logout.svg" alt="Map" class="footer-icon"></a></li>
    </ul>
</footer>
</body>
</html>
