<!DOCTYPE html>
<html>
<head>

    <title>map1</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="../PS_type.js"></script>
    <!--    <script src="../PS_icon.js"></script>-->
</head>
<body>
    <button onclick="window.location.href = 'http://localhost:8080/OSPS/homepage';">homepage</button>
<div id="map" style="height: 97vh; width: 99.3vw"></div>
<script>
    attributionControl: false
    var map = L.map('map').setView([23.694822, 120.534397], 16);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 17,
        attribution: '© OpenStreetMap'
    }).addTo(map);

    // Define icons
    var icons = [
        {
            icon: L.icon({
                iconUrl: '../images/green.png',
                iconSize: [8, 8],
                iconAnchor: [3, 3]
            })
        },
        {
            icon: L.icon({
                iconUrl: '../images/red.png',
                iconSize: [8, 8],
                iconAnchor: [3, 3]
            })
        }
    ];

    // Fetch data
    fetch('../yuntech.json')
        .then(response => response.json())
        .then((data)=>{
            var collection = {
                "type": "FeatureCollection",
                "features": []
            };

            data.forEach((item) => {
                let point = new L.Marker([item.PS_Lat, item.PS_Lng], {
                    icon: item['status'] === '0' ? icons[0].icon : icons[1].icon
                });
                point.bindPopup('車格種類:' + PStype[item['PS_type']] + '<br>車格編號: ' +
                    item['PS_ID'] + '<br>' + '車位狀態: ' + (Boolean(Number(item['status'])) ? '有車' : '沒車'));
                point.addTo(map);
            });

        });

    //刪除浮水印
    document.addEventListener('DOMContentLoaded', function() {
        var attribution = document.querySelector('.leaflet-control-attribution');
        if (attribution) {
            attribution.parentNode.removeChild(attribution);
        }

    });
</script>
</body>
</html>
